<div class="menu">
    <ul>
        <li>uno</li>
        <li>uno</li>
        <li>uno</li>
        <li>uno</li>
    </ul>
</div>
<div class="menu-movil">
    <ul>
        <li>uno</li>
        <li>uno</li>
        <li>uno</li>
        <li>uno</li>
    </ul></div>
<div class="menu-buton">
    <i class="fas fa-bars"></i>
</div>