<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style-blog.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">

    <title>404</title>
</head>
<body>
    <style>
        body{
            font-family: 'Orelega One', cursive;
        }
    </style>
    <header>
        <p id="click">Points</p>
    </header>
    <section class="error">
        <h2>Upsssss parece que no tenemos nada por aqui....</h2>
    </section>
</body>
</html>