<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style-blog.css">
    <title><%= titulo %></title>
    <meta name="description" content="esta es la descripcion">
</head>
<body>
    <header>
        IsHere
    </header>
    <section class="titulo">
        <h1>Este es el titulo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi repellat rem dolorem porro, ad repellendus voluptate cupiditate suscipit? Sint sapiente quia vitae aperiam? Consectetur dignissimos facere rerum dolores. Expedita, illum?</p>
    </section>
    <section class="creditos">
        <p><%= titulo %></p>
        <p>Redes sociales</p>
    </section>
</body>
</html>